<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
	http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd  
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">


	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
	</bean>

	<!-- IOC Dao -->
	<bean id="memberDao" class="com.dao.MemberDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="movieDao" class="com.dao.MovieDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<bean id="adminDao" class="com.dao.AdminDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="languageDao" class="com.dao.LanguageDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="editionDao" class="com.dao.EditionDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="kindDao" class="com.dao.KindDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="adDao" class="com.dao.AdDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="playDao" class="com.dao.PlayDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="ticketDao" class="com.dao.TicketDao" scope="prototype">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<!-- IOC Service -->
	<bean id="memberService" class="com.service.MemberService" scope="prototype">
		<property name="memberDao" ref="memberDao" />
	</bean>
	<bean id="movieService" class="com.service.MovieService" scope="prototype">
		<property name="movieDao" ref="movieDao" />
		<property name="languageDao" ref="languageDao"/>
		<property name="editionDao" ref="editionDao"/>
		<property name="kindDao" ref="kindDao"/>
	</bean>
	<bean id="adminService" class="com.service.AdminService" scope="prototype">
		<property name="adminDao" ref="adminDao" />
	</bean>
	<bean id="languageService" class="com.service.LanguageService" scope="prototype">
		<property name="languageDao" ref="languageDao"/>
	</bean>
	<bean id="editionService" class="com.service.EditionService" scope="prototype">
		<property name="editionDao" ref="editionDao"/>
	</bean>
	<bean id="kindService" class="com.service.KindService" scope="prototype">
		<property name="kindDao" ref="kindDao"/>
	</bean>
	<bean id="adService" class="com.service.AdService" scope="prototype">
		<property name="adDao" ref="adDao"/>
	</bean>
	<bean id="playService" class="com.service.PlayService" scope="prototype">
		<property name="playDao" ref="playDao"/>
		<property name="movieDao" ref="movieDao"/>
	</bean>
	<bean id="ticketService" class="com.service.TicketService" scope="prototype">
		<property name="ticketDao" ref="ticketDao"/>
		<property name="playDao" ref="playDao"/>
		<property name="memberDao" ref="memberDao"/>
	</bean>
	
	<!-- IOC Action -->
	<bean id="memberAction" class="com.action.MemberAction" scope="prototype">
		<property name="memberService" ref="memberService" />
	</bean>
	<bean id="movieAction" class="com.action.MovieAction" scope="prototype">
		<property name="movieService" ref="movieService" />
	</bean>
	<bean id="adminAction" class="com.action.AdminAction" scope="prototype">
		<property name="adminService" ref="adminService" />
	</bean>
	<bean id="adAction" class="com.action.AdAction" scope="prototype">
		<property name="adService" ref="adService"/>
	</bean>
	<bean id="playAction" class="com.action.PlayAction" scope="prototype">
		<property name="playService" ref="playService"/>
		<property name="movieService" ref="movieService"/>
	</bean>
	<bean id="ticketAction" class="com.action.TicketAction" scope="prototype">
		<property name="ticketService" ref="ticketService"/>
		<property name="movieService" ref="movieService"/>
	</bean>
	<bean id="kindAction" class="com.action.KindAction" scope="prototype">
		<property name="kindService" ref="kindService"/>
	</bean>
	<bean id="languageAction" class="com.action.LanguageAction" scope="prototype">
		<property name="languageService" ref="languageService"></property>
	</bean>
	<bean id="editionAction" class="com.action.EditionAction" scope="prototype">
		<property name="editionService" ref="editionService"/>
	</bean>

	<!-- IOC Init -->
	<bean id="init" class="com.listener.Init">
		<property name="languageService" ref="languageService" />
		<property name="editionService" ref="editionService" />
		<property name="kindService" ref="kindService"/>
		<property name="movieService" ref="movieService"/>
		<property name="adService" ref="adService"/>
	</bean>

</beans>