@charset "utf-8";
#main{
	width:1000px;
	margin:auto;
}
#main_top{
	margin-top:-10px;
}
#main_left{
	float:left;
	width:760px;
}
#main_left_top{
	margin-top:10px;
}
#main_left_middle{
	margin-top:10px;
}
.main_left_middle_ul{
	width:165px;
	float:left;
	margin:15px 8px;
	height: 400px;
	line-height:12px;
	overflow: hidden;
}
.main_left_middle_ul li{
	margin:5px 0px;
}
#main_left_bottom{
	float:left;
	padding-top:10px;
}
#main_left_bottom a{
	margin-top:10px;
	float:left;
}

#main_bottom{
	clear:both;
	padding-top:10px;
}